.covid19 {
  font-weight: bold;
  color: red;
}

.lastupdate {
  text-align: right;
  color: red;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
.img-icon {
  height: 32px;
  width: 32px;
}
.icon-bg {
    width: 2rem;
    height: 2rem;
    position: relative;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-blob {
    width: 4rem;
    height: 4rem;
    display: table;
    position: relative;
    z-index: 1;
}
.icon-blob:after {
    font-family: 'Snowlake' !important;
    content: "\0041";
    font-size: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.icon-blob span,
.icon-blob h3,
.icon-blob p {
    font-family: 'Jost', sans-serif !important;
}
.icon-blob span {
    font-weight: 500;
}
.icon-blob .number {
    display: table-cell;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    font-size: 1.3rem;
}
.text-center .icon-blob {
    margin: 0 auto;
}
.icon-blob i {
    display: table-cell;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    font-size: 1.6rem;
}
.icon-svg img {
    width: 3rem;
    height: 3rem;
}
.icon-blob .step {
    position: absolute;
    bottom: -0.15rem;
    left: 0.55rem;
    font-family: 'Jost', sans-serif !important;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    font-size: 0.55rem;
    line-height: normal;
    font-weight: 500;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
}
.dial-item .icon-blob:before {
    font-family: 'Snowlake' !important;
    content: "\0041";
    font-size: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: #ffffff;
}
.bg-blue {
    background: #5ca7db;
}